html,
body {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0rem;
}

header {
  background-color: cornflowerblue;
  padding: 1.5rem;
  line-height: 1.5rem;
}

main {
  background-color: lightgrey;
  padding: 0.5rem;
}

footer {
  background-color: cornflowerblue;
  padding: 0.5rem;
}
